@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: 'Poppins', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Press Start 2P', cursive;
    */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #13131F;
}

.top {
    opacity: 1;
    position: fixed;
    bottom: 20px;
    right: -50px;
    font-size: 2.4rem;
    transition: .4s all;
    color: #552586;
}

.show-button .top {
    right: 50px;
    transition: .4s all;
}

.icon-change-background {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/*AJEITANDO NA ABA PROJETOS*/

.galleria-fotos {
    margin-top: 1.5rem;
}

.spotify {
    margin-bottom: 1rem;
}

.pizarria {
    margin-top: 1.5rem;
}

.mini-blog{
    margin-top: 1.5rem;
}