@charset "UTF-8";

@media screen and (min-width: 770px) and (max-width: 991px) {

    .inicio {
        padding-top: 2rem !important;
    }

    .barra-de-navegacao {
        margin-right: 1.2rem;
        color: white !important;
        margin-top: 0rem !important;
        margin-bottom: 2rem;
        font-family: 'Poppins', sans-serif;
    }

    .barra-de-navegacao-habilidades {
        margin-right: 1rem !important;
        margin-top: 0rem !important;
        margin-bottom: 2rem;
        color: white !important;
        font-family: 'Poppins', sans-serif;
    }

    ul {
        text-align: center;
    }

    .icon-change-background {
        font-size: 2rem;
        color: #552586 !important;
        cursor: pointer;
    }



    /*SOBRE MIM*/

    .sobre-mim-box {
        background-color: #09090B;
        border: 1px solid #808080a2;
        border-radius: 0.7rem;
        margin-top: 7rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sobre-mim-margin {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }

    .img-celular {
        height: 93%;
    }

    .sobre-mim-titulo {
        font-family: 'Press Start 2P', cursive;
        margin-right: 19rem !important;
        text-transform: uppercase;
        font-size: 1.8rem !important;
        margin-bottom: 1.5rem;
        margin-left: 1rem
    }

    .sobre-mim-paragrafo {
        font-family: 'Poppins', sans-serif;
        text-indent: 2rem;
        font-size: 1.2rem !important;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 1rem
    }

    .sobre-mim-segundo-paragrafo {
        text-indent: 2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem !important;
        margin-right: 2rem;
        margin-left: 1rem
    }

    /*PROJETOS*/

    projetos-titulo {
        font-family: 'Press Start 2P', cursive;
        font-size: 1.2rem !important;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }

    .box-projeto-finans {
        margin-right: 0rem !important;
    }

    .margin-projetos {
        margin-top: 8.4rem;
        margin-bottom: 4.4rem;
        padding-left: 0.3rem !important;
        display: fex;
        flex-direction: column;
        justify-self: center;
    }

    .box-projetos {
        height: 23.5rem !important;
        border: 3px solid #552586;
        box-shadow: 2px 3px 7px #5525865d;
        background-color: #09090B;
        margin-top: 5.2rem;
    }

    .box-projetos-titulo {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .box-projetos-subtitulo {
        font-family: 'Poppins', sans-serif;
        /*font-family: 'DM Sans', sans-serif;*/
        font-size: 1rem;
        margin-top: 1.2rem;
        margin-left: 1rem;
        padding-bottom: 0;
    }

    .box-projetos-link {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
        color: #552586;
        text-shadow: 2px 2px 5px #5525865d;
    }

    .box-projetos-link-finans {
        margin-top: 4.6rem;
    }

    .box-projetos-link-spotify {
        margin-top: 4.6rem !important;
    }

    .box-projetos-link-mario {
        margin-top: 2.8rem;
    }

    .box-projetos-link-imovi {
        margin-top: 6.6rem !important;
    }

    .flex {
        display: flex !important;
        flex-direction: row !important;
    }


    .input-ver-mais {
        color: #fff;
        background-color: #552586;
        border-radius: 2rem;
        padding: 0.4rem 6rem;
        font-size: 1rem;
        margin-left: 2rem;
        margin-right: 0rem;
        font-family: 'Poppins', sans-serif;
    }

    .hidden {
        display: none;
    }

    .repositorio-git-hub {
        font-size: 1rem;
        font-family: 'Cabin', sans-serif, monospace;
        text-transform: uppercase;
        margin-top: 3.4rem;
        margin-left: 2rem;
        margin-right: 0.4rem;
    }

    /*HABILIDADES*/

    .box-habilidades-margin-top {
        margin-top: 7rem;
    }

    .box-habilidades-margin-top-segunda-row {
        margin-top: 1.7rem !important;
    }

    .box-habilidades {
        height: 7rem;
        background-color: #13131F;
        opacity: 0.5;
        border-radius: 0.3rem 0 1.5rem 0;
        box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.623);
    }

    .box-habilidades-margin-right {
        margin-right: 1rem !important;
    }

    .margin-right-habilidades-over {
        margin-right: 0rem !important;
    }

    /*CONTATOS*/

    .subtitulo-contatos {
        font-family: 'Poppins', sans-serif;
        margin-top: 1rem;
    }

    .paragrafo-contatos {
        color: #7B797C;
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem !important;
    }

    /*AJEITANDO NA ABA PROJETOS*/

    .galleria-fotos {
        margin-top: 6.5rem !important;
    }

    .spotify {
        margin-bottom: 6.5rem !important;
    }

    .pizarria {
        margin-top: 6rem !important;
    }

    .mini-blog {
        margin-top: 7rem !important;
    }
}